.myDatePicker{
  &Container{
    border: 1px solid;
    width: 8em;
    text-align: center;
    .ant-picker-input{
      input {
        text-align: center;
      }
    }
     .ant-picker-input{
      display: none !important;
    }
  }
}
