.picker {
  &Container{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    &:focus{
      outline: none;
    }
  }
  &TimeView {
    flex: 1;
    position: absolute;
    width: 60px;
    height: 26px;
    border: 0;
  }
}

