@import "../variables.less";

.day {
  &Body {
    flex: 1;
    display: flex;
    overflow: hidden;
    &ScrollArea {
      overflow-y: auto;
      width: 100%;
    }
    &Pane {
      overflow: hidden;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
    }
    &TimedContainer {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin-right: 10px;
    }
    &TimedItem {
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid;
      color: @CalendarTextColor;
    }
    &Day {
      flex: 1;
      position: relative;
      border-right: 1px solid @borderColor;
      &Interval {
        width: 100%;
        border-top: 1px solid @borderColor;
        &:first-child {
          border-top: none !important;
        }
      }
    }
    &DayContainer {
      display: flex;
      flex: 1;
    }
    &IntervalsBody {
      border-right: 1px solid @borderColor;
    }
    &Interval {
      position: relative;
      &Text {
        font-size: 16px;
        text-align: center;
        position: relative;
        top: -6px;
      }
      &:after {
        width: 8px;
        position: absolute;
        height: 1px;
        display: block;
        content: '';
        right: 0;
        bottom: -1px;
        border-top: 1px solid @borderColor;
      }
      &:first-child {
        border-top: none !important;
      }
    }

  }
  &Container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &Header {
    display: flex;
    &Intervals {
      border-bottom: 1px solid @borderColor;
      border-right: 1px solid @borderColor;
    }
    &Day {
      flex: 1;
      text-align: center;
      border-bottom: 1px solid @borderColor;
      border-right: 1px solid  @borderColor;
      &Value {
        min-width: 30px !important;
        padding: 0 !important;
        text-align: center;
        background-color: transparent !important;
        color: black !important;
        font-weight: 600 !important;
        font-size: 16px !important;
      }
      &Label{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        color: #0e0d0d;
      }
    }
  }
}

.isFullWidth {
  width: 100% !important;
  left: 0 !important;
  z-index: 99 !important;
}
.isHighLevel {
  z-index: 99 !important;
}
.isDragged {
  opacity: 0.6;
}
.boxShadow {
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,.14),
  0px 1px 18px 0px rgba(0,0,0,.12),
  0px 3px 5px -1px rgba(0,0,0,.2);
}

.scrollContainer {
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color:#e8eaef;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    &:hover {
      background-color:  #dadce0;
    }
  }
}
