// 左边框的最小宽度
@leftWidth: 250px;
@import "variables.less";
.main {
  &Container {
    width: 100vw;
    height: 100vh;
    display: flex;
   }
  &Left {
    flex: 0 0 @leftWidth;
    border-right: 1px solid @borderColor;
    &Icon{
      &:hover {
        background: rebeccapurple;
      }
    }
  }
  &Right {
    flex: 1;
  }
}
