html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #464343;
}
a {
    text-decoration: none;
}
#root {
    padding: 5px;
    display: flex;
}