html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
#root {
    padding: 5px;
    display: flex;
}
.full-width {
    width: 100% !important;
    left: 0 !important;
    z-index: 999 !important;
}
