html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
a {
    text-decoration: none;
}
#root {
    width: 100%;
    height: 100%;
}
.is_high_level {
    z-index: 99;
}
