@import "../variables.less";


.createDialog {
  display: flex;
  width: 300px;
  overflow: hidden;
  flex-direction: column;
  user-select: none;
  &Title {
    font-weight: 600;
    font-size: 20px;
    color: #343431;
  }
  &Icon {
    line-height: 0;
    cursor: pointer;
    border-radius: 4px;
    &:hover{
      background-color: @IconHoverBgColor;
    }
    &:active {
      background-color: @IconActiveColor;
    }
  }
  &Header {
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Body {
    display: flex;
    justify-content: center;

    &Name {
      margin: 10px 0;
    }
  }
  &Footer {
    text-align: right;
    padding: 10px 20px ;
  }
}

.add {
  border-radius: 4px;
  padding: 2px;
  &Item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    &:hover{
      background-color: @IconHoverBgColor;
    }
    &Icon {
      line-height: 0;
      margin-right: 2px;
    }
  }
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
    padding: 5px 25px;
    cursor: pointer;

    &:hover{
      background-color: @IconHoverBgColor;
    }
    &Right {
      display: flex;
      justify-content: center;
    }
    &Icon {
    }
  }
  &Content {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
    padding: 5px 25px;
    cursor: pointer;
    &:hover{
      background-color: @IconHoverBgColor;
    }
    &Icon{
      display: flex;
      align-items: center;
    }
  }
}
.search {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
  &Icon {
    cursor: pointer;
    line-height: 0;
    margin-left: 5px;
  }
  &Input {
    padding: 5px;
    border: 0;
    border-bottom: 1px solid blueviolet;
    &:focus-visible {
      outline: 0px;
    }
  }
}
.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px 0 25px;
  &Operator {
    display: flex;
    align-items: center;
  }
  &Icon {
    cursor: pointer;
    &:hover {
      color: @ArrowHoverColor;
    }
    &:active{
      color: @ArrowActiveColor;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  &Month {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &Week {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2px;
  }
  &Day {
    flex: 1;
    text-align: center;
    border-right: 1px solid white;
    cursor: pointer;
    transition: background-color .3s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 5px 0;
    &Active {
      background-color: rgb(26,115,232);
      color: #fff;
      &:hover{}
      &:active{}
    }
    &Normal {
      &:hover{
        background-color: @IconHoverBgColor;
      }
      &:active{
        background-color: @IconActiveColor;
      }
    }
    &:visited{
      background-color: #1a73e8 !important;
    }
  }
}
